hr.vertical {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 100vh;
    width: 1px;
}

.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

.select2-container--default .select2-selection--single {
    min-height: 3.25rem !important;
}

.select2-selection__rendered {
    padding-top: 0 !important;
}

.subscription-btns {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.subscription-btns > .btn, .subscription-btns > .btn-group, .subscription-btns > .btn-group > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
}

.profile_description {
    margin-top: 20px;
}

.profile_content {
    padding: 0 10px;
    font-size: 1.5rem;
}

.feature-item {
    font-size: 1.5rem;
    line-height: 1.5;
}

.feature-item li {
    padding-bottom: 5px;
}

.package {
    background: rgba(42, 63, 84, .5);
    padding: 5px 18px 1px 18px;
    margin-bottom: 10px;
    color: #FFF;
    text-align: center;
}

.package__money {
    font-size: 2.65rem;
    font-weight: 700;
}

.package__content {
    background-color: rgba(255, 255, 255, 0.8);
    color: #0c0c0c;
    text-decoration: none;
    font-size: 1.9rem;
    line-height: 1.5;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 10px;

}

.package__content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.modal-body__container {
    width: 50%;
    margin: 0 auto;
}

.modal-header {
    text-align: center;
}

.modal-body__container {
    font-size: 1.5rem;
    line-height: 1.5;
}

.phone-number {
    margin-bottom: 10px;
}